<section class="scroll-box">
  <div class="especialistas-box">
    <div class="card">
      <img class="img-container-especialistas" src="assets/image/nutricionista.png" />
      <p class="card-name">Nutricionista</p>
    </div>
    <div class="card">
      <img class="img-container-especialistas" src="assets/image/personalTrainer.jpg" />
      <p class="card-name">Personal Trainer</p>
    </div>
    <div class="card">
      <img class="img-container-especialistas" src="assets/image/suplementos.jpg" />
      <p class="card-name">Suplementos</p>
    </div>
    <div class="card">
      <img class="img-container-especialistas" src="assets/image/fitness.jpg" />
      <p class="card-name">Equipamentos Fitness</p>
    </div>
    <div class="card">
      <img class="img-container-especialistas" src="assets/image/estetica.jpg" />
      <p class="card-name">Estética</p>
    </div>
  </div>
</section>

