<div class="mt-8 bg-white p-4 md:p-8">
  <!-- Component Box-Icon (Seta) -->
  <div class="box-icon mb-4">
    <a routerLink="/aparelhos" routerLinkActive="active">
      <img src="assets/image/leftArrow.png" alt="Seta" class="w-4 h-4" />
    </a>
  </div>

  <!-- Pesquisa -->
  <div class="flex items-center mb-4">
    <button
      mat-button
      type="submit"
      class="p-2 md:p-4 bg-white rounded-full shadow-md hover:shadow-lg"
      (click)="toggleSearch()"
    >
      <img src="assets/image/Search.png" alt="Pesquisa" />
    </button>
    <div [@searchBar]="searchOpen" class="search-bar">
      <input
        type="text"
        class="p-2 md:p-4 border border-gray-300 rounded flex-grow w-full"
        placeholder="Pesquisar..."
      />
    </div>
  </div>
</div>

<div class="especialistas-box">
  <p class="ml-2 text-black mb-5" style="font-weight: 600">Nutricionistas</p>
  <p class="flex items-center justify-between"></p>
</div>

<!--Cards dos contatos-->

<div class="w-[357px] h-[449px] relative">
  <div class="w-[352px] h-[781px] left-0 top-0 absolute">
    <div class="w-[352px] h-[103px] left-0 top-0 absolute">
      <div
        class="w-[352px] h-[103px] left-0 top-0 absolute bg-white rounded-[10px] shadow"
      ></div>
      <div
        class="w-[184.27px] h-[54.70px] left-[82.60px] top-[23.30px] absolute"
      >
        <div
          class="w-[178.23px] h-[27.35px] left-0 top-0 absolute text-black text-[15px] font-medium font-['Poppins']"
        >
          Maria Silva
        </div>
        <div
          class="w-[183.25px] h-[21.41px] left-[1.02px] top-[33.30px] absolute text-neutral-500 text-opacity-90 text-xs font-normal font-['Poppins']"
        >
          Entre em contato
        </div>
      </div>
      <img
        class="w-[67.58px] h-[88.29px] left-[9.39px] top-[7.36px] absolute rounded-full"
        src="assets/image/contato1.png"
      />
    </div>
    <div class="w-[352px] h-[103px] left-0 top-[113px] absolute">
      <div
        class="w-[352px] h-[103px] left-0 top-0 absolute bg-white rounded-[10px] shadow"
      ></div>
      <div
        class="w-[243.89px] h-[31.25px] left-[82.60px] top-[23.30px] absolute text-black text-[15px] font-medium font-['Poppins']"
      >
        Gabriela Gonçalves
      </div>
      <img
        class="w-[67.58px] h-[88.29px] left-[9.39px] top-[7.36px] absolute rounded-full"
        src="assets/image/contato2.png"
      />
      <div
        class="w-[183.25px] h-[21.41px] left-[83.66px] top-[52px] absolute text-neutral-500 text-opacity-90 text-xs font-normal font-['Poppins']"
      >
        Entre em contato
      </div>
    </div>
    <div class="w-[352px] h-[103px] left-0 top-[226px] absolute">
      <div
        class="w-[352px] h-[103px] left-0 top-0 absolute bg-white rounded-[10px] shadow"
      ></div>
      <div
        class="w-[157.74px] h-[29.56px] left-[82.60px] top-[23.30px] absolute text-black text-[15px] font-medium font-['Poppins']"
      >
        Camila V. Boas
      </div>
      <img
        class="w-[67.58px] h-[88.29px] left-[9.39px] top-[7.36px] absolute rounded-full"
        src="assets/image/contato3.png"
      />
    </div>
    <div class="w-[352px] h-[103px] left-0 top-[339px] absolute">
      <div
        class="w-[352px] h-[103px] left-0 top-0 absolute bg-white rounded-[10px] shadow"
      ></div>
      <div
        class="w-[129.03px] h-[31.25px] left-[82.60px] top-[23.30px] absolute text-black text-[15px] font-medium font-['Poppins']"
      >
        Felipa Correia
      </div>
      <img
        class="w-[67.58px] h-[88.29px] left-[9.39px] top-[7.36px] absolute rounded-full"
        src="assets/image/contato4.png"
      />
    </div>
    <div class="w-[352px] h-[103px] left-0 top-[452px] absolute">
      <div
        class="w-[352px] h-[103px] left-0 top-0 absolute bg-white rounded-[10px] shadow"
      ></div>
      <div
        class="w-[116px] h-8 left-[87px] top-[23px] absolute text-black text-[15px] font-medium font-['Poppins']"
      >
        Kárita Cândido
      </div>
      <img
        class="w-[74px] h-[89px] left-[9px] top-[7px] absolute rounded-full"
        src="assets/image/contato5.png"
      />
    </div>
    <div class="w-[352px] h-[103px] left-0 top-[565px] absolute">
      <div
        class="w-[352px] h-[103px] left-0 top-0 absolute bg-white rounded-[10px] shadow"
      ></div>
      <div
        class="w-52 h-[31.81px] left-[82.60px] top-[23.30px] absolute text-black text-[15px] font-medium font-['Poppins']"
      >
        Edileusa Lopes
      </div>
      <img
        class="w-[67.58px] h-[88.29px] left-[9.39px] top-[7.36px] absolute rounded-full"
        src="assets/image/contato6.jpg"
      />
    </div>
    <div class="w-[352px] h-[103px] left-0 top-[678px] absolute">
      <div
        class="w-[352px] h-[103px] left-0 top-0 absolute bg-white rounded-[10px] shadow"
      ></div>
      <div
        class="w-[261.24px] h-[27.51px] left-[82.60px] top-[13.49px] absolute text-black text-[15px] font-medium font-['Poppins']"
      >
        Vinícius Cecconi
      </div>
      <img
        class="w-[67.58px] h-[88.29px] left-[9.39px] top-[7.36px] absolute rounded-full"
        src="assets/image/contato7.png"
      />
    </div>
  </div>
  <div class="w-[50px] h-[50px] left-[276px] top-[694px] absolute">
    <div
      class="w-[47.66px] h-[47.87px] left-[1.16px] top-[1.06px] absolute"
    ></div>
  </div>
  <div class="w-[50px] h-[50px] left-[276px] top-[586px] absolute">
    <div
      class="w-[47.66px] h-[47.87px] left-[1.16px] top-[1.06px] absolute"
    ></div>
  </div>
  <div class="w-[50px] h-[50px] left-[276px] top-[474px] absolute">
    <div
      class="w-[47.66px] h-[47.87px] left-[1.16px] top-[1.06px] absolute"
    ></div>
  </div>
  <div class="w-[50px] h-[50px] left-[276px] top-[362px] absolute">
    <div
      class="w-[47.66px] h-[47.87px] left-[1.16px] top-[1.06px] absolute"
    ></div>
  </div>
  <div class="w-[50px] h-[50px] left-[276px] top-[249px] absolute">
    <div
      class="w-[47.66px] h-[47.87px] left-[1.16px] top-[1.06px] absolute"
    ></div>
  </div>
  <div class="w-[50px] h-[50px] left-[276px] top-[136px] absolute">
    <div
      class="w-[47.66px] h-[47.87px] left-[1.16px] top-[1.06px] absolute"
    ></div>
  </div>
  <div
    class="w-[179.61px] h-[21.41px] left-[82px] top-[278px] absolute text-neutral-500 text-opacity-90 text-xs font-normal font-['Poppins']"
  >
    Entre em contato
  </div>
  <div
    class="w-[179.61px] h-[21.41px] left-[82px] top-[616px] absolute text-neutral-500 text-opacity-90 text-xs font-normal font-['Poppins']"
  >
    Entre em contato
  </div>
  <div
    class="w-[179.61px] h-[21.41px] left-[84px] top-[738px] absolute text-neutral-500 text-opacity-90 text-xs font-normal font-['Poppins']"
  >
    Entre em contato
  </div>
  <div
    class="w-[179.61px] h-[21.41px] left-[87px] top-[503px] absolute text-neutral-500 text-opacity-90 text-xs font-normal font-['Poppins']"
  >
    Entre em contato
  </div>
  <div
    class="w-[179.61px] h-[21.41px] left-[82px] top-[391px] absolute text-neutral-500 text-opacity-90 text-xs font-normal font-['Poppins']"
  >
    Entre em contato
  </div>
  <div class="w-[50px] h-[50px] left-[276px] top-[26px] absolute">
    <div
      class="w-[47.66px] h-[47.87px] left-[1.16px] top-[1.06px] absolute"
    ></div>
  </div>
</div>
