<section class="flex flex-col items-center justify-center min-h-screen relative bg-gradient" style="background-image: url('assets/image/fundo.jpg'); background-size: cover; background-position: center;">
  <div class="absolute inset-0 bg-gradient-overlay"></div>

  <div class="mb-8 text-black relative z-10">
    <h1 class="text-3xl md:text-3xl lg:text-4xl font-bold mb-4">
      {{ textoAnimado }}
    </h1>
    <img src="assets/image/logo.png" alt="Logo" class="w-56 md:w-32 lg:w-48 h-24 md:h-32 lg:h-48 object-contain mb-4">
  </div>

  <section class="mb-8 w-fit max-w-md relative z-10">
    <details class="dropdown" style="justify-content: center; margin-bottom: 2rem; margin-left: -1rem; color: white;">
      <summary role="button" class="outline-none focus:outline-none">
        <a class="button bg-gray-600 bg-opacity-75 p-2 md:p-4 lg:p-6 rounded-sm transition duration-300 transform hover:scale-105">Clique para selecionar a Academia</a>
      </summary>
      <ul style="display: flex; justify-content: center; margin-top: 20px;">
        <li><a class="text-white font-bold text-center" [innerText]="academiaSelecionada"></a></li>
      </ul>
    </details>

    <div class="mb-4">
      <input type="password" id="password" placeholder="Insira sua senha" class="p-2 md:p-4 lg:p-6 border border-gray-700 rounded-s-none w-full text-lg focus:outline-2" [ngClass]="{'senha-incorreta': senhaIncorreta}">
      <div class="senha-incorreta-msg" style="color: red" *ngIf="senhaIncorreta">Senha incorreta. Tente novamente.</div>
    </div>

    <button class="button bg-gray-800 bg-opacity-75 text-white p-2 md:p-4 lg:p-6 rounded-sm w-full transition duration-300 transform hover:scale-105 focus:outline-none" style="margin-bottom: 2rem; font-weight: bold;" (click)="fazerLogin()">Logar</button>
  </section>
</section>
