<section class="treinos-box">
  <section class="container-box-treino">
    <div>
      <img
        style="
          width: 145px;
          height: 145px;
          left: 0px;
          top: 0px;
          position: absolute;
          border-radius: 10px;
          border: 1px #3c3c3c solid;
        "
        src="https://via.placeholder.com/145x145"
      />
      <div
        style="
          width: 24px;
          height: 25.23px;
          left: 115px;
          top: 0px;
          position: absolute;
        "
      >
        <div
          style="
            width: 20.77px;
            height: 16px;
            left: 1.62px;
            top: 4px;
            position: absolute;
            background: black;
          "
        ></div>
      </div>
      <div
        style="
          width: 24px;
          height: 24px;
          left: 6px;
          top: 4px;
          position: absolute;
        "
      >
        <div
          style="
            width: 16px;
            height: 16px;
            left: 4px;
            top: 4px;
            position: absolute;
            background: black;
          "
        ></div>
      </div>
    </div>
  </section>
  <section class="container-box-treino">
    <div>
      <img
        style="
          width: 145px;
          height: 145px;
          left: 0px;
          top: 0px;
          position: absolute;
          border-radius: 10px;
          border: 1px #3c3c3c solid;
        "
        src="https://via.placeholder.com/145x145"
      />
      <div
        style="
          width: 24px;
          height: 25.23px;
          left: 115px;
          top: 0px;
          position: absolute;
        "
      >
        <div
          style="
            width: 20.77px;
            height: 16px;
            left: 1.62px;
            top: 4px;
            position: absolute;
            background: black;
          "
        ></div>
      </div>
      <div
        style="
          width: 24px;
          height: 24px;
          left: 6px;
          top: 4px;
          position: absolute;
        "
      >
        <div
          style="
            width: 16px;
            height: 16px;
            left: 4px;
            top: 4px;
            position: absolute;
            background: black;
          "
        ></div>
      </div>
    </div>
  </section>
  <section class="container-box-treino">
    <div>
      <img
        style="
          width: 145px;
          height: 145px;
          left: 0px;
          top: 0px;
          position: absolute;
          border-radius: 10px;
          border: 1px #3c3c3c solid;
        "
        src="https://via.placeholder.com/145x145"
      />
      <div
        style="
          width: 24px;
          height: 25.23px;
          left: 115px;
          top: 0px;
          position: absolute;
        "
      >
        <div
          style="
            width: 20.77px;
            height: 16px;
            left: 1.62px;
            top: 4px;
            position: absolute;
            background: black;
          "
        ></div>
      </div>
      <div
        style="
          width: 24px;
          height: 24px;
          left: 6px;
          top: 4px;
          position: absolute;
        "
      >
        <div
          style="
            width: 16px;
            height: 16px;
            left: 4px;
            top: 4px;
            position: absolute;
            background: black;
          "
        ></div>
      </div>
    </div>
  </section>
</section>
