<!-- Treinos -->
<section class="treinos-box">
  <div class="container-box-treino" (click)="toggleTreinoMessage('legDay')">
    <div class="box-treino-inner">
      <img
        class="box-treino-image"
        src="assets/image/legDay.png"
        alt="Treino"
      />
      <div class="box-treino-icons">
        <div><img src="assets/image/Play.png" alt="Play" /></div>
        <button
          (mouseenter)="showTreinoMessage('legDay')"
          (mouseleave)="hideTreinoMessage('legDay')"
        >
          <img src="assets/image/Reload.png" alt="Reload" />
        </button>
      </div>
      <p class="treino-message" *ngIf="treinoMessages['legDay']">
        Dia de Inferiores
      </p>
    </div>
  </div>
  <div class="container-box-treino" (click)="toggleTreinoMessage('superiores')">
    <div class="box-treino-inner">
      <img
        class="box-treino-image"
        src="assets/image/superiores.png"
        alt="Treino"
      />
      <div class="box-treino-icons">
        <div><img src="assets/image/Play.png" alt="Play" /></div>
        <button
          (mouseenter)="showTreinoMessage('superiores')"
          (mouseleave)="hideTreinoMessage('superiores')"
        >
          <img src="assets/image/Reload.png" alt="Reload" />
        </button>
      </div>
      <p class="treino-message" *ngIf="treinoMessages['superiores']">
        Dia de Superiores
      </p>
    </div>
  </div>
  <div class="container-box-treino" (click)="toggleTreinoMessage('cardio')">
    <div class="box-treino-inner">
      <img
        class="box-treino-image"
        src="assets/image/cardio.png"
        alt="Treino"
      />
      <div class="box-treino-icons">
        <div><img src="assets/image/Play.png" alt="Play" /></div>
        <button
          (mouseenter)="showTreinoMessage('cardio')"
          (mouseleave)="hideTreinoMessage('cardio')"
        >
          <img src="assets/image/Reload.png" alt="Reload" />
        </button>
      </div>
      <p class="treino-message" *ngIf="treinoMessages['cardio']">
        Dia de Cardio
      </p>
    </div>
  </div>
</section>
