.sidenav-container {
  display: flex;
  align-items: center;
}

.menu-button {
  cursor: pointer;
  font-size: 24px;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 2;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #FFC100;
  color: #333; /* Cor do ícone do menu */
  border: none;
  padding: 0;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.menu-button:focus {
  transition: all 0.3s ease-in-out;
  color: #FFC100; /* Cor do ícone do menu ao passar o mouse */
}

.sidenav {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -250px; /* Inicialmente oculto */
  background-color: #f2f2f2; /* Cor de fundo do menu */
  overflow-x: hidden;
  transition: 0.3s;
  z-index: 1;
  padding: 20px; /* Espaçamento dentro do menu */
}

.sidenav ul {
  list-style-type: none;
  padding: 40px;
}

.sidenav ul li {
  margin: 20px 0;
}

.sidenav a {
  cursor: pointer;
  text-decoration: none;
  color: #333;
  font-size: 18px;
  border: 2px solid transparent; /* Adiciona uma borda transparente */
  padding: 10px;
  display: block;
  transition: border 0.3s; /* Adiciona uma transição suave para a borda */
}

.sidenav a:hover,
.sidenav a:focus {
  border: 2px solid #FFC100; /* Adiciona uma borda amarela no hover ou foco */
  border-radius: 5px; /* Opcional: arredonda as bordas da borda */
}

.sidenav.open {
  left: 0;
}

/* Estilo para o ícone "X" quando o menu está aberto */
.sidenav.open + .sidenav-container .menu-button span:nth-child(2) {
  display: block;
}

/* Estilo para ocultar o ícone do menu quando o menu está aberto */
.sidenav.open + .sidenav-container .menu-button span:nth-child(1) {
  display: none;
}
